# Compiled binaries
*.o
*.out
a.out

# NASM debug files/list
*.lst
*.map

# GDB debugger files
*.gdb
.gdb_history

# Editor
.vscode/
*.swp
*~

# Sistema
.DS_Store
Thumbs.db



#Final executação
fibonacci
